<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Ensuring accessability on mobile devices for WCAG standard-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



  <title>{% block title %}My Dive App{% endblock %}</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ url_for('dive_sites') }}">DiveApp</a>
    <!--Navbar is collapsable so it fits the screen at different sizes and mobile devices-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dive_sites') }}">Sites</a>
        </li>
        <!--Page only shows the dive log, favourites and logout options if they are already logged in-->
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dive_log') }}">Dive Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('favourites') }}">Favourites</a>
        </li>
        <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('change_password') }}">Change Password</a>
      </li>
      
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>


  <!-- Cookie Consent JS -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.js"></script>
  <script src="{{ url_for('static', filename='js/cookies.js') }}"></script>
  <script src="{{ url_for('static', filename='js/favourite.js') }}"></script>

</body>
</html>
